.HTML {
    background-color: blue !important;
}

.CSS {
    background-color: red !important;
}

.JavaScript {
    background-color: black !important;
}

.Nodejs {
    background-color: green !important;
}

.Express {
    background-color: aqua !important;
}

.ReactJS {
    background-color: orange !important;
}